.main
{
  box-shadow: 10px 10px 15px gray;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
  width: 100%;
}
.flex{
  display: flex;
  justify-content: space-evenly;
}
h1,h2,h3,h4,h5,h6
{
  margin-bottom: 10px;
}
img
{
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin: 10px;
}
.title
{
  text-decoration: underline 2px solid black;
  text-underline-offset: 5px;
}
.price
{
  color: red;
}
.dis{
  color: green;
}
.discri{
  text-decoration: underline dotted 2px  black;
  text-underline-offset: 5px;
  margin-bottom: 20px;
}
.main_dis{
  color: darkblue;
  margin-bottom: 20px;
}
button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bolder;
}
.btn1{
  background-color: darkgreen;
}
.btn2{
  background-color: rgb(144, 11, 11);
}
.brand{
  color: purple;
}
.w-30{
  width: 30%;
}
.w-70{
  width: 70%;
}